body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}
p{
    line-height: 1.4;
}

.container{
    max-width: 1400px;
    margin: 100px auto;
}

.container h2{
    text-align: center;
    color: rgb(34, 34, 34);
}
.container p{
    margin: 15px auto;
    text-align: center;
    color: rgb(92, 92, 92);
}

.haft{
    width: 50%;
}

.btn{
    background: #2aae48;
    border-radius: 5px; 
    outline: none;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


/* top banner */
.top-banner{

    margin-top: 0px;
    background-image: linear-gradient(to bottom, rgb(255 255 0 / 0%), rgb(0 0 0 / 77%)), url(./images/Rectangle-237.png);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-banner h1{
    color: white;
    text-align: center;
}
.top-banner p{
    color: rgb(216, 216, 216);
    text-align: center;
    margin-top: 20px;
}


.top-banner .btn{
    display: block;
    margin: auto;
    margin-top: 30px;
}



/* donate-pricing-sec */
.pricing-list{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.pricing-list .pricing-item{
    background: #f7f7f7;
    margin: 15px;
    padding: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}
.pricing-list .default-selected{
    background-color: #2aae482b;
    border: 2px solid #2aae48;
    color: #2aae48;
}

.donate-form{
    max-width: 450px;
    margin: 40px auto 0 auto;

}
.donate-form input{
    width: 100%;
    outline: none;
    padding: 8px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #29ad48;
}

.donate-form .btn{
    display: block;
    margin: auto;
    margin-top: 16px;
}



/* donate pricing plan section */
.plan-list{
    display: flex;
    margin-top: 20px;
}
.plan-item{
    background-color: #4F9DA6;
    margin: 10px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
}
#plan-item-1{
    background-color: #e8e6ff;
}
#plan-item-2{
    background-color: #dfffe6;
}
#plan-item-3{
    background-color: #ffe0df;
}

.plan-item img{
    color: white;
    width: 40px;
}

.plan-item h4{
    margin-top: 20px;
    color: rgb(19, 19, 19);

}
.plan-item p{
    margin-top: 10px;
    text-align: start;
}


.plan-row{
    display: flex;
    align-items: center;
}
.plan-row img{
    width: 100%;
}
.plan-row-left{
    width: 50%;
    padding: 50px;
}
.plan-row-right{
    width: 50%;
    padding: 50px;
}
.plan-row p, .plan-row h2{
    text-align: start;
}
.plan-row h2{
    margin-bottom: 20px;
}
.plan-row p{
    margin-bottom: 15px;
}
.plan-row .btn{
    margin-top: 10px;
}




/* works-sec */
.works-sec .btn{
    display: block;
    margin: auto;
}

.work-list{
    display: flex;
}

.work-item{
    width: 30%;
    border-radius: 5px;
    margin: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 20px 0px #ecececc4
}
.work-item img{
    width: 100%;
}
.work-item-content{
    padding: 10px;
}
.work-item-content h3{
    text-align: center;
    margin-bottom: 20px;
}

/* success-sec */
.success-sec .gallery{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 20px;
}
.success-sec .gallery img{
    width: 30%;
    margin: 15px;
    box-sizing: border-box;
}

.donations-collections{
    display: flex;
    justify-content: center;
}
.collection-item{
    background: #f7f7f7;
    margin: 15px;
    padding: 30px;
    border-radius: 5px;
    padding: 20px 50px;
}
.collection-item img{
    width: 40px;
    margin: auto;
    display: block;
}
.collection-item h3{
    color: #2aae48;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
.collection-item p{
    color: rgb(54, 54, 54);
    text-align: start;
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 14px;
}



/* subscribe section */
.subscribe-form{
    max-width: 650px;
    margin: 40px auto 0 auto;
    padding: 100px;
    background-color: #2aae482b;
}

.input-box{
   background-color: white;
   display: flex;
   border-top-left-radius: 5px;
   border-radius: 5px;
}
.input-box input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 15px;
    color: rgb(119, 119, 119);
}

.input-box .btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 60px;
}



/* footer section */
footer{
    background-color: black;
    padding: 50px;
}
footer h3{
    color: #2aae48;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 36px;
}
footer .container {
    margin: 0 auto;
}
footer .container p {
    margin: 25px 0 0 0;
    color: rgb(199, 199, 199);
}