body{
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

h1{
    margin: 0;
    font-size: 50px;

}

:root{
    --primary: #2aae48;
    /* --primary: #7021d2; */
}
.container{
    /* max-width: 1400px; */
    margin: auto;
}

.btn{
    background: var(--primary);
    border-radius: 5px; 
    outline: none;
    border: none;
    padding: 10px 15px;
    color: white;
}

.top-banner{
    background-image: url("./images/Rectangle-237.png");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-banner h1, .top-banner p{
    text-align: center;
}

.top-banner h1{
    color: #FAFAFA;
}
.top-banner p{
    color: #e6e6e6;
}
.top-banner .btn{
    display: block;
    margin: auto;
}

.top-banner-content{
    padding: 80px;
    max-width: 700px;
    margin: auto;
}

.donate-pricing-sec{
    margin-top: 80px;
}
.donate-pricing-sec h1{
    text-align: center;
}
.donate-pricing-sec p{
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
}

.pricing-list{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.pricing-list .pricing-item{
    background: #FAFAFA;
    margin: 20px;
    padding: 5px 25px;
    border-radius: 5px;
}
.pricing-list .default-selected{
    background-color: #2aae482b;
    border: 2px solid var(--primary);
    color: #29ad48;
}

.donate-form{
    max-width: 700px;
    margin: auto;

}
.donate-form input{
    width: 100%;
    outline: none;
    padding: 8px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #29ad48;
}
.donate-form .btn{
    display: block;
    margin: auto;
    margin-top: 16px;
}


.donate-plan-sec{
    margin-top: 80px;
}
